<form id="new_project_form">
	<input
		type="text"
		name="project[title]"
		placeholder="Name the project"
	>
	<br>
	<!-- what is the best way to keep the default description from getting sent?? -->
	<textarea
		name="project[description]"
		placeholder="If you like, add a project description"
	></textarea>
	<input type="submit" value="Start the project">
</form>