<div class="row sherpa-off">
	<h1 style="margin-left: 15px"><%= project.escape("title") %></h1>
	<h4 style="margin-left: 15px"><%= project.escape("description") %></h4>
</div>
<div class="row">
	<nav class="nav navbar-left col-xs-9 col-xs-offset-1" role="navigation">
		<div class="navbar-header">
		  <button type="button" class="navbar-toggle" data-toggle="collapse" 					data-target="#project-nav">
	       <span class="icon-bar"></span>
	       <span class="icon-bar"></span>
	       <span class="icon-bar"></span>
		  </button>
		</div>

		<div class="collapse navbar-collapse" id="project-nav">
		  <ul class="nav nav-tabs">
				<li><a href="#updates" data-toggle="tab">Updates</a></li>
					<li>
						<a id="todo-lists-tab" href="#todos" data-toggle="tab">To-Do Lists</a>
					</li>
					<li>
						<a href="#discussions" id="discussions-tab" data-toggle="tab">Discussions</a>
					</li>
					<li><a href="#documents" id="documents-tab" data-toggle="tab">Documents</a></li>
					<li><a href="#" id="delete_project">Delete Project</a></li>
			</ul>
		</div>
	</nav>
</div>

<div class="row">
	<div class="col-xs-7 col-xs-offset-0" id="main_bumper">
		<div class="tab-content">
			<div class="tab-pane active" id="updates"></div>
		  <div class="tab-pane" id="todos"></div>
		  <div class="tab-pane" id="discussions"></div>
		  <div class="tab-pane" id="documents"></div>
		  <div class="tab-pane" id="dates"></div>
		</div>
	</div>
</div>