<h1><%= project.escape("title") %></h1>
<h4><%= project.escape("description") %></h4>

<div class="row" style="background: #542828">
	<nav class="navbar navbar-left" role="navigation">
		<div class="navbar-header">
		  <button type="button" class="navbar-toggle" data-toggle="collapse" 					data-target="#project-nav">
	       <span class="icon-bar"></span>
	       <span class="icon-bar"></span>
	       <span class="icon-bar"></span>
		  </button>
		</div>

		<div class="collapse navbar-collapse" id="project-nav">
		  <ul class="nav nav-tabs">
				<li><a href="#updates" data-toggle="tab">Updates</a></li>
					<li>
						<a id="todo-lists" href="#todos" data-toggle="tab">To-Do Lists</a>
					</li>
					<li><a href="#discussions" data-toggle="tab">Discussions</a></li>
					<li><a href="#files" data-toggle="tab">Files</a></li>
					<li><a href="#dates" data-toggle="tab">Dates</a></li>
			</ul>
		</div>
	</nav>
</div>

<div class="row" style="background: heather">
	<div class="col-xs-7 col-xs-offset-0" id="main_bumper">
		<div class="tab-content">
			<div class="tab-pane active" id="updates"></div>
		  <div class="tab-pane" id="todos"></div>
		  <div class="tab-pane" id="discussions"></div>
		  <div class="tab-pane" id="files"></div>
		  <div class="tab-pane" id="dates"></div>
		</div>
	</div>
</div>