<%var assigned = todo.escape('assigned_user')%>
<%var due = todo.escape('deadline')%>
<span><%=(todo.get('name')) ? todo.escape('name') : 'Give the todo a name'%></span>
<span id="assign_user" ><%=(assigned) ? assigned : "Unassigned"%></span>
<span id="due-date"><%=(due) ? due : "No deadline"%>
