<div id="other_employees" align="right">
	<h3>Other employees from your company:</h3>
	<ul>
		<%user.get("company").get("employees").forEach(function(employee) { %>
			<%if (employee.id !== user.id){%>
			<span class="emp-name"data-id="<%=employee.id%>"><img class="img-circle" style="width: 40%" src="<%=employee.escape('photo')%>"><%=employee.escape('name')%></span>
				<br>
			<%}%>
		<%});%>
	</ul>
</div>