<div class="row">

</div>

<div class="row sherpaBasic">

	<div id="left_bumper" class="col-xs-7 col-xs-offset-1 ">
	</div>

	<div id="right_bumper" class="col-xs-3 col-cs-offset-1">


	</div>


</div>

