<div class="row sherpaBasic">
	<form
		action="<%='api/users/'+ user.id%>"
		name="user[photo]"
		class="dropzone dz-clickables col-xs-2"
		style="height: 220px; max-width: 11%"
		enctype="multipart/form-data"
	>
		<% if (user.get('photo')) {%>
			<img style="max-width: 99%" src="<%=user.escape('photo')%>">
		<% } else { %>
			<img style="max-width: 99%" src="/assets/empty_portrait.jpg">
		<% } %>
	</form>

	<h4><%=user.escape('name')%></h4>
	<h5><%=user.get('company').escape('name')%></h5>
</div>

<div class="row sherpaBasic">

	<div id="left_bumper" class="col-xs-7 col-xs-offset-1" style="margin-top: 75px">
	</div>

	<div id="right_bumper" class="col-xs-3 col-cs-offset-1">


	</div>


</div>

