<%comments.each(function(comment) { %>
	<div class="well"><a href="<%='#comments/' + comment.escape('id')%>"><%=comment.escape('title')%></a>
	<p>started by <%=comment.get('user').escape('name')%></p>
	</div>

<%})%>

<button
	class="btn btn-large"
	style=""
	id="new_message">
		Add Discussion
</button>