  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel"><%=comment.escape('title')%></h4>
        <h5 class="modal-title" id="myModalLabel"><%=comment.escape('body')%></h5>
				<h5 class="modal-title" id="myModalLabel">
					<%='started by ' + comment.get('user').escape('name')%>
				</h5>
      </div>
      <div class="modal-body">
				<div id="subs">
				</div>
				<button
					class="btn btn-sm btn-sherpa"
					id="reply">
					Comment
				</button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
