<div class="well">
	<h5><%=commment.escape('title')%></h5>
	<p><%=comment.escape('body')%>
	<div id="<%='subs' + comment.escape('id')%>"
	>
	</div>
	<button
		class="btn btn-sm"
		id="reply">
		Reply
	</button>
</div>