<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button btn btn-sherpa" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<div id="todo_form">
			</div>
    </div>
    <div class="modal-body">
			<div id="comments">
			</div>
			<button
				class="btn btn-sm btn-sherpa"
				id="reply">
				Reply
			</button>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-sherpa" data-dismiss="modal">Close</button>
    </div>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
