<div style="margin-top: 15px; margin-left: 15px">
<input
	class="input-mysize"
	type="text"
	name="todo_list[title]"
	id="todo_list_title"
	placeholder="To-do list title"
>
<input class="btn btn-sm btn-sherpa" type="submit" value="Save and start adding to-dos">

</div>