<div style="padding-left: 10px; padding-top: 2px; padding-bottom: 2px">
<h5 id="todo_title" data-id="<%=list.id%>"><%=list.get('title')%></h5>
<ul id="todo_index">
</ul>
<a href="#" id="add_todo" style="font-size: 10px; top: -30px">Add a todo</a>
</div>