$mustangTeal: #54a992;
$lightMustangTeal: #8fb59c;
$cream: #eddbc3;
$leather: #813a26;
$swimSuitRed: #d94c3a;
$smog: #e8c571 ;
$bubblegum: #FF85AD;

a:link{
	color: black;
}

a:visited {
	color: black;
}

a:hover{

}

a.sherpaBrand {
	color: $mustangTeal;
	font-size: 28px;
	font-family: "Times New Roman";

}

.sherpaBrand:hover {
	color: $mustangTeal;
	text-decoration: none;
}

.sherpaNav {
	background-image: -webkit-linear-gradient(left, rgba(0,0,0, 1) 100%, rgba(0,0,0, 0), url('assets/leather.jpg')); /* For Safari */
	background-image: -o-linear-gradient(right, rgba(0,0,0, 1) 100%, rgba(0,0,0, 0), url('assets/leather.jpg')); /* For Opera 11.1 to 12.0 */
	background-image: -moz-linear-gradient(right, rgba(0,0,0, 1) 100%, rgba(0,0,0, 0), url('assets/leather.jpg')); /* For Firefox 3.6 to 15 */
	background-image: linear-gradient(to right, rgba(0,0,0, 1) 100% , rgba(0,0,0, 0), url('assets/leather.jpg')); /* Standard syntax */
}

.sherpa-margin {
	background-image:url('assets/bedge_grunge.png')

}

.sherpaBasic {
	background: white;
}

.subtle-form-input {
	border: none;
	background: transparent;
	border-bottom: 1px dotted gray;
	outline: none;
}

a.bubbleGum {
	color: #FF85AD;
}
a.bubbleGum:hover {

	color: #FF9DBD;
}