$mustangTeal: #54a992;
$lightMustangTeal: #8fb59c;
$cream: #eddbc3;
$leather: #813a26;
$swimSuitRed: #d94c3a;
$smog: #e8c571 ;
$bubblegum: #FF85AD;

a:link{
	color: black;
}

a:visited {
	color: black;
}

a:hover{

}

a.sherpaBrand {
	color: $mustangTeal;
	font-size: 28px;
	font-family: "Times New Roman";

}

.sherpaBrand:hover {
	color: $lightMustangTeal;
	text-decoration: none;
}

.sherpaNav {
	color: $leather;
	background: $leather;
}

.sherpaBasic {
	background: white;
}

.subtle-form-input {
	border: none;
	background: transparent;
	border-bottom: 1px dotted gray;
	outline: none;
}

a.bubbleGum {
	color: #FF85AD;
}
a.bubbleGum:hover {

	color: #FF9DBD;
}